## data
data
dump
figures
docs

## logs
logs
sessions
assessments
therapy_sessions

## environment
.env
.venv

## others
__pycache__

## texts
readme.md
technical_docs.md


## examples
examples.py
*.ipynb
test_therapy_agents.py

results
rag_*
utils/assessment_eval_helper.py